In [51]:
pip install requests beautifulsoup4

Requirement already satisfied: requests in c:\users\asus\anaconda3\lib\site-packages (2.32.2)
Requirement already satisfied: beautifulsoup4 in c:\users\asus\anaconda3\lib\site-packages (4.12.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\asus\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\asus\anaconda3\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\asus\anaconda3\lib\site-packages (from requests) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\asus\anaconda3\lib\site-packages (from requests) (2024.8.30)
Requirement already satisfied: soupsieve>1.2 in c:\users\asus\anaconda3\lib\site-packages (from beautifulsoup4) (2.5)
Note: you may need to restart the kernel to use updated packages.

In [209]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [211]:
import requests
def load_documents(file_url):
    # Fetch the text content from the URL
    response = requests.get(file_url)
    if response.status_code == 200:
        text = response.text
    else:
        raise Exception(f"Failed to fetch the file. Status code: {response.status_code}")
    return text

In [213]:
file_url = "https://raw.githubusercontent.com/martinabgn/HelsinkiLib/week2/enwiki-20181001-corpus.1000-articles.txt"
text = load_documents(file_url)
print(text[:200])

<article name="Anarchism">
Anarchism is a political philosophy that advocates self-governed societies based on voluntary institutions. These are often described as stateless societies, although severa

In [214]:
from bs4 import BeautifulSoup
def split_article(text):
    # Split the text based on the <article> tag using BeautifulSoup
    soup = BeautifulSoup(text, 'html.parser')
    articles = soup.find_all('article')
    article_dict = {}
    article_index= {}
    for article in articles:
        name = article.get("name")
        content = article.text.strip()  # Strip excess whitespace
        if name:
            article_dict[name] = content
    return article_dict

In [221]:
article_dict = split_article(text)
# Example: Print the article names and their first 200 characters
# for name, content in article_dict.items():
#     print(f"Article Name: {name}")
#     print(f"Content Preview: {content[:100]}...\n")

In [223]:
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np
documents, names =  list(article_dict.values()), list(article_dict.keys())
cv = CountVectorizer(lowercase=True)
dense_matrix = cv.fit_transform(documents).T.todense()
print("Term-document matrix:\n")
print(dense_matrix)

Term-document matrix:

[[0 0 0 ... 0 0 0]
 [1 0 0 ... 1 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [225]:
t2i = cv.vocabulary_  # shorter notation: t2i = term-to-index

In [241]:
query = input("enter a query").lower()

enter a query Lincoln

In [243]:
try:
    print(dense_matrix[t2i[query]])
except:
    print("the query is not valid")

[[  0   0   0   0   0   0 172   0   0   1   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    2   1   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0  68
    0   0   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   1   4   0   0
    1   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   3   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   2
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   1   0   0   0   2   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   3   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   2   0   1   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   2   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0  10   0   0   0   0
    0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   2   0   0   0
    0   0   0   0   0   0   0   0   0   3   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   2   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   2   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   1   0   0   0   0   0   0   0   0   1   0   0   0   0   0
    0   0   0   0   0   0   0   2   0   0   0   1   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0]]

In [245]:
hits_list = np.array(dense_matrix[t2i[query]])[0]

In [247]:
for i, nhits in enumerate(hits_list):
    if nhits >= 1:
        print(f"\033[1m\033[94m{query.upper()}\033[0m occurs in article with name: \033[1m{names[i]}\033[0m for {nhits} times")
        print(f"\033[1mFirst 100 characters of the article:\033[0m {documents[i][:100]}")

LINCOLN occurs in article with name: Abraham Lincoln for 172 times
First 100 characters of the article: Abraham Lincoln (February 12, 1809 – April 15, 1865) was an American statesman and lawyer who served
LINCOLN occurs in article with name: Academy Award for Best Production Design for 1 times
First 100 characters of the article: The Academy Award for Best Production Design recognizes achievement for art direction in film. The c
LINCOLN occurs in article with name: Alaska for 1 times
First 100 characters of the article: Alaska ( ) ( ; ; ) is a U.S. state located in the northwest extremity of North America. The Canadian
LINCOLN occurs in article with name: Albert Einstein for 2 times
First 100 characters of the article: Albert Einstein ( ; ; 14 March 1879 – 18 April 1955) was a German-born theoretical physicist a pivot
LINCOLN occurs in article with name: Afghanistan for 1 times
First 100 characters of the article: Afghanistan ( ; Pashto/Dari: , Pashto: Afġānistān , Dari: Afġānestān ), officially the Islamic Repub
LINCOLN occurs in article with name: Amateur astronomy for 1 times
First 100 characters of the article: Amateur astronomy is a hobby whose participants enjoy observing or imaging celestial objects in the
LINCOLN occurs in article with name: American Civil War for 68 times
First 100 characters of the article: The American Civil War (also known by other names) was a war fought in the United States (U.S.) from
LINCOLN occurs in article with name: American Film Institute for 1 times
First 100 characters of the article: The American Film Institute (AFI) is an American film organization that educates filmmakers and hono
LINCOLN occurs in article with name: April 12 for 1 times
First 100 characters of the article: Events
238 - Gordian II loses the Battle of Carthage against the Numidian forces loyal to Maximinus
LINCOLN occurs in article with name: April 15 for 4 times
First 100 characters of the article: Events
769 - The Lateran Council condemned the Council of Hieria and anathematized its iconoclastic
LINCOLN occurs in article with name: August 27 for 1 times
First 100 characters of the article: Events
410 - The sacking of Rome by the Visigoths ends after three days.
1172 - Henry the Young King
LINCOLN occurs in article with name: August 6 for 1 times
First 100 characters of the article: Events
135 - The Roman Empire lays siege to Betar, effectively ending the Bar Kokhba revolt.
1284 -
LINCOLN occurs in article with name: Abner Doubleday for 3 times
First 100 characters of the article: Abner Doubleday (June 26, 1819 January 26, 1893) was a career United States Army officer and Union 2
LINCOLN occurs in article with name: Alternate history for 2 times
First 100 characters of the article: Alternate history or alternative history (Commonwealth English), sometimes abbreviated as AH, is a g
LINCOLN occurs in article with name: August 1 for 1 times
First 100 characters of the article: Events
30 BC - Octavian (later known as Augustus) enters Alexandria, Egypt, bringing it under the co
LINCOLN occurs in article with name: April 26 for 2 times
First 100 characters of the article: Events
1336 - Francesco Petrarca (Petrarch) ascends Mont Ventoux.
1478 - The Pazzi family attack Lor
LINCOLN occurs in article with name: August 7 for 1 times
First 100 characters of the article: This day marks the approximate midpoint of summer in the Northern Hemisphere and of winter in the So
LINCOLN occurs in article with name: Amos Bronson Alcott for 3 times
First 100 characters of the article: Amos Bronson Alcott ( ; November 29, 1799 March 4, 1888) was an American teacher, writer, philosophe
LINCOLN occurs in article with name: August 25 for 2 times
First 100 characters of the article: Events
766 - Emperor Constantine V humiliates nineteen high-ranking officials, after discovering a p
LINCOLN occurs in article with name: Agate for 1 times
First 100 characters of the article: Agate is a rock consisting primarily of cryptocrystalline silica, chiefly chalcedony, alternating wi
LINCOLN occurs in article with name: Ailanthus for 1 times
First 100 characters of the article: Ailanthus ( ; derived from ailanto, an Ambonese word probably meaning "tree of the gods" or "tree of
LINCOLN occurs in article with name: Alexander for 2 times
First 100 characters of the article: Alexander is a common male given name, and a less common surname. The most prominent bearer of the n
LINCOLN occurs in article with name: Andrew Johnson for 10 times
First 100 characters of the article: Andrew Johnson (December 29, 1808 July 31, 1875) was the 17th President of the United States, servin
LINCOLN occurs in article with name: April 28 for 1 times
First 100 characters of the article: Events
224 - The Battle of Hormozdgān is fought. Ardashir I defeats and kills Artabanus V effectivel
LINCOLN occurs in article with name: April 9 for 1 times
First 100 characters of the article: Events
190 - Dong Zhuo has his troops evacuate the capital Luoyang and burn it to the ground.
475 -
LINCOLN occurs in article with name: April 14 for 2 times
First 100 characters of the article: Events
43 BC - Battle of Forum Gallorum: Mark Antony, besieging Caesar's assassin Decimus Brutus in
LINCOLN occurs in article with name: Art Deco for 3 times
First 100 characters of the article: Art Deco, sometimes referred to as Deco, is a style of visual arts, architecture and design that fir
LINCOLN occurs in article with name: Arkansas for 2 times
First 100 characters of the article: Arkansas ( ) is a state in the southern region of the United States, home to over 3 million people a
LINCOLN occurs in article with name: American Civil Liberties Union for 1 times
First 100 characters of the article: The American Civil Liberties Union (ACLU) is a nonprofit organization whose stated mission is "to de
LINCOLN occurs in article with name: August 5 for 1 times
First 100 characters of the article: Events
AD 25 - Guangwu claims the throne as Chinese emperor, restoring the Han dynasty after the col
LINCOLN occurs in article with name: Automatic number announcement circuit for 1 times
First 100 characters of the article: An automatic number announcement circuit (ANAC) is a component of a central office of a telephone co
LINCOLN occurs in article with name: African Americans for 2 times
First 100 characters of the article: African Americans (also referred to as Black Americans or Afro-Americans) are an ethnic group of Ame
LINCOLN occurs in article with name: April 20 for 1 times
First 100 characters of the article: Events
1303 - The Sapienza University of Rome is instituted by Pope Boniface VIII.
1453 - Three Geno
LINCOLN occurs in article with name: April 8 for 1 times
First 100 characters of the article: Events
217 - Roman Emperor Caracalla is assassinated. He is succeeded by his Praetorian Guard prefec
LINCOLN occurs in article with name: Arthur Miller for 1 times
First 100 characters of the article: Arthur Asher Miller (October 17, 1915 – February 10, 2005) was an American playwright, essayist, and
LINCOLN occurs in article with name: April 27 for 1 times
First 100 characters of the article: Events
33 BC - Lucius Marcius Philippus, step-brother to the future emperor Augustus, celebrates a t
LINCOLN occurs in article with name: Archbishop of Canterbury for 2 times
First 100 characters of the article: The Archbishop of Canterbury is the senior bishop and principal leader of the Church of England, the
LINCOLN occurs in article with name: American Football League for 1 times
First 100 characters of the article: The American Football League (AFL) was a major professional American football league that operated f